@hat_height: 85px;

body {
  background: url('/static/img/bg-dark-4780.jpg');
}

#hat {
  background: black;
  height: @hat_height;
  position: absolute;
  width: 100%;
  top: 0px;
}

#hat.modal {
  z-index: 3;
  height: (@hat_height + 25);
}

#modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
}

#dark-screen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
}

#window-content {
  margin-top: (@hat_height + 35);
  background: black;
}

#content {
  margin-top: (@hat_height + 25);
}